.welcome {
  background-image: url("../../assets/profile.png")
}

/* tablet view */
@media (max-width: 1160px) {
  .welcome {
    background-image: url("../../assets/profile_tablet.png")
  }
}

@media (max-width: 1060px) {
  .welcome {
    background-image: url("../../assets/profile_mobile.png")
  }
}

@media (max-width: 450px) {
  .welcome {
    background-image: url("../../assets/profile_mini.png")
  }
}
