.container {
  padding: 2rem;
  padding-bottom: 10px;
  padding-top: 0px;
  padding-left: 10rem;
}

@media (max-width: 1160px) {
  .container {
    padding-left: 5rem;
  }
}

@media (max-width: 450px) {
  .container {
    padding-left: 3rem;
  }
}

.timeline {
  position: relative;
  min-height: 150px;
}

#line {
  position: absolute;
  z-index: 2;
  left: 0px;
  width: 2px;
  top: -50px;
  bottom: -50px;
}

.mainpoint {
  position: absolute;
  display: block;
  content: '';
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  left: 0.1%;
  transform: translateX(-50%);
}

.point {
  position: absolute;
  display: block;
  content: '';
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  left: 0.1%;
  transform: translateX(-50%);
}

#linebefore {
  top: -3.5%;
}

#lineafter {
  top: 103%;
}

@media (max-width: 1160px) {
  #linebefore {
  top: -3.7%;
}

  #lineafter {
    top: 102.8%;
  }
}

@media (max-width: 600px) {
  #linebefore {
  top: -2.8%;
}

  #lineafter {
    top: 101.5%;
  }
}

@media (max-width: 480px) {
  #linebefore {
  top: -2.3%;
}

  #lineafter {
    top: 101.5%;
  }
}

#content {
  margin: 5rem 2rem 5rem 2rem;
}